.touch-scroll {
  overflow-x: hidden;
}

body { 
  overflow-x: hidden;
}



a {
  color: inherit;
  text-decoration: none;
}

.child {
  display: none;
}

@media (hover: none) {
  .touch-scroll {
    overflow-x: scroll
  }
  .touch-hide { 
      display: none;
  }
}

